.searchContainer{
    border: 2px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    max-height: 50px;
    min-height: 40px;
    border-radius: 7px;
    padding: 0;
    box-sizing: border-box;
}
.searchButton {
  border: 1px solid none ;
  width: 11%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}
.search {
  width: 100%;
  padding: 11px;
  border-radius: 8px;
  border: none;
}
.search:focus-visible{
 color: red;
 border: 1px solid transparent;
}