/* Components/Menu/menu.module.css */

.logo h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding: 0 15px 10px 15px; /* Added internal padding */
    border-bottom: 1px solid var(--border-color);
}

.menuScrollArea {
    overflow-y: auto;
    height: calc(100% - 70px); 
    padding-right: 10px;
    width: 100%;
}

.menuScrollArea h3 {
    color: #a0aec0;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 20px 0 10px 0;
    padding-left: 15px; /* Synchronized padding */
}

.menuSection {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: var(--text-color);
    transition: background-color 0.2s;
    padding: 0 15px; /* Container padding */
}

.mainLink {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
}

.mainLink:hover {
    background-color: var(--border-color); /* Hover color */
}

.mainLink p span {
    margin-right: 10px;
    font-size: 1.2rem;
}

.dropDown {
    font-size: 0.8rem;
    transition: transform 0.3s;
    margin-right: 10px;
}

/* Dropdown Styles */
.dropdownContainer {
    margin: 5px 0 10px 0;
    margin-left: 20px;
    border-left: 3px solid var(--secondary-color);
    padding-left: 10px;
}

.subLink {
    display: block;
    text-decoration: none;
    color: #a0aec0;
    font-size: 0.95rem;
}

.subLink:hover {
    color: var(--primary-color);
}

.subMenuItem {
    list-style: none;
    padding: 8px 15px;
    margin: 2px 0;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.subLink .subMenuItem {
    padding-left: 5px;
}